body { font-family: "Open Sans", "Helvetica", Arial, sans-serif;}

.All { background-color: grey;}
.Formal { background-color: #93d1ff;}
.Material { background-color: #fea18d;}
.Interface { background-color: #b7e695;}
.Interaction { background-color: #fefca2;}

.chartContainer { float: left;}

#waveform { float: left; }

#waveform div { 
	border-left: 1px solid black;
}

.chartControls { float: left;}

.chartControls input { 
	display: block; 
}

.clear { clear: both;}

/* emulate h2 but inline element */
.chartTitle { font-size: 1.5em; font-weight: bold;}

.streamSelection { 
	width: 8em;
	border: 1px solid black; 
	margin: 0;
}

audio { width: 200px;}

.stats { float: left; padding-left: 1em; padding-right: 2em; padding-bottom: 2em;}