body { font-family: "Open Sans", "Helvetica", Arial, sans-serif;}

.All { background-color: grey;}
.Formal { background-color: #93d1ff;}
.Material { background-color: #fea18d;}
.Interface { background-color: #b7e695;}
.Interaction { background-color: #fefca2;}

.chartContainer { float: left;}

/* emulate h1 but inline element */
#title { font-size: 2em; font-weight: bold;}

/* emulate h2 but inline element */
.chartTitle { font-size: 1.5em; font-weight: bold;}

#waveform { 
	float: left; 
	height: 150px;
}

#waveform .graph { 
	border-left: 1px solid black;
}

#waveform_position {
	position: relative;
	left:1020px;
	top:-1.3em;
}

.chartControls { float: left;}

.chartControls input { 
	display: block; 
}

.clear { clear: both;}

.sliderContainer { width: 1030px; padding-left: 45px;}


.streamSelection { 
	width: 8em;
	border: 1px solid black; 
	margin: 0;
}

audio { width: 500px;}

#audioPlayer { padding-left: 100px;}

.stats { float: left; padding-left: 1em; padding-right: 2em; padding-bottom: 2em;}

/* override colours for ionslider */
.irs-bar {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background: black;
	background: black;
}

.irs-from, .irs-to, .irs-single {
	background: black;
}