.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis path {
    fill: steelblue;
    stroke: none;
}
.graph rect, .graph path {
    fill: grey;
    shape-rendering: auto;
}

.graph{
/*  margin-bottom: 2em;*/
  margin-left: 59px;
  margin-right: 40px;
  width: 1000px;
}
.graph::before{
  line-height: 35px;
  opacity: 0.7;
  vertical-align: middle;
}

/* this should probably match .chartContainer .playhead */
.graph .playhead {
	opacity: 0.7;
	fill: #00282A;
}

#waveform { 
	float: left; 
	height: 150px;
}

#waveform .graph { 
	border-left: 2px solid black;
	border-top: 1px solid black;
	height: 150px;
}
